.popular__browse {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    margin: 80px 80px 0 80px;
    
}

.popular__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.details {
    text-align: center;
    font-size: 10px;
    margin-top: -12px;
    text-decoration: underline;
}

@media (max-width: 450px) {
    .popular__browse {
        gap: 50px;
        margin:0px;
    }
  }