@use "../../../../styles/variables" as *;

.popular__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popular__browse {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-top: 80px;
    padding-bottom: 20px;

    a {
        color: $rangitoto;
    }
}

.popular__browse_left {
    margin-left: 250px;
}

.popular__browse_right {
    margin-right: 250px;
}

.popular__card_container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

@media (max-width: 1100px) {
    .popular__browse_right {
        text-align: right;
        margin: 0;
    }

    .popular__browse_left {
        text-align: left;
        margin: 0;
    }
  }