@use "../../../../styles/variables" as *;

.popular__browse {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-top: 80px;
    padding-bottom: 20px;

    a {
        color: $rangitoto;
    }
}

.popular__browse_left {
    margin-left: 100px;
}

.popular__browse_right {
    margin-right: 100px;
}

.popular__container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

@media (max-width: 450px) {
    .popular__browse {
        gap: 20px;
    }

    .popular__browse_right {
        text-align: left;
    }

    .popular__browse_right {
        text-align: right;
    }
  }