.herosection__container {
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
height: calc(100vh - 84px);

img {
    width: 100%;
}
}

@media (max-width: 400px) {
    .herosection__container img {
      display: none;
    }
  }