@use "../../../../styles/variables" as *;

.form__container {
    height: calc(80vh - 84px);
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 15px;

h1 {
    color: $oxford-blue;
    margin-bottom: 50px;
}

button {
    margin-top: 20px;
}
span {
    text-decoration: underline;
}
}

input::placeholder {
    padding-left: 10px;
}

.register__text {
    margin-top: -10px;
    width:300px;
    color: $oxford-blue;
    font-size: 12px;
}

.input__password {
    position: relative;
}

.input__visibility {
    position: absolute;
    right:10px;
    bottom: 10px;
}

.input__error_message {
    font-size: 10px;
    color: red;
    position: absolute;
    width: 300px;
    margin-top: 2px;;
}

.field__input_normal {
    min-width: 300px;
    min-height: 40px;
    border-radius: 3px;
    border: 1px solid $gray-blue;
}

.field__input_error {
    border: 2px solid $red;
    min-width: 300px;
    min-height: 40px;
    border-radius: 3px;
}