@use "../../../styles/variables" as *;

.container {
    background-color: $light-grayish-cyan;
}

.product__container {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
}

.text__container {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.text__wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h4 {
        margin-top: 20px;
        font-size: 1rem;
        color: $rangitoto;
    }

    span {
        font-size: 0.8rem;
        color:$rangitoto;
    }
}

.img__wrapper {
    width: 40%;
    height: 500px;
    background-position:right;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
}

.title {
    max-width: 80%;
    color: $oxford-blue;
    font-size: 2.2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    input {
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $oxford-blue;
        border-top:1px solid $oxford-blue;
    }
}

.button_add_to_cart {
    align-self: flex-end;

    button {
        height: 40px;
    }
}

.button_outlined {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $oxford-blue;
}

.button_outlined:hover {
    color: $white;
    background-color: $oxford-blue;
}

.price__wrapper {
    display: flex;
    gap:20px;
    }

.price__nodiscount {
    text-decoration: line-through;
    color: $rangitoto;
}

.price__discount {
    color: $dark-orange;
}

@media (max-width: 1000px) {
    .img__wrapper {
        background-position: center;
        width: 250px;
    }
}

@media (max-width: 655px) {
    .product__container {
        flex-direction: column;
        gap: 0;
    }

    .text__container {
        width: 70%;
    }

    .title {
        max-width: 100%;
    }
}

@media(max-width: 425px) {
    .title {
        font-size: 1.8rem;
    }

    .img__wrapper {
        width: 200px;
    }

    .counter__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .button_add_to_cart {
        align-self: flex-start;
    }
}