@use "../../../styles/variables" as *;

.card__container {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.card__text_wrapper {
    text-align: center;

    h4 {
        font-size: 16px;
        font-weight: 100;
        color: $oxford-blue;
    }

    p {
        margin-top: -15px;
        font-size: 12px;
        color: $rangitoto;
    }
}