.card__container {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.card__text_wrapper {
    text-align: center;

    h4 {
        font-size: 14px;
        font-weight: 100;
    }

    p {
        margin-top: -15px;
        font-size: 10px;
    }
}