// Colors
$rangitoto: #2E2E22;
$oxford-blue: #354E57;
$oxford-blue-transparent: #354e57b2;
$beige: #F7F5E6;
$white: #FFFFFF;
$white-transparent: #fffffff1;
$green_como: #547665;
$athens-gray: #EEF2F4;
$silver-rust: #C6B9B6;
$brown: #956A53;
$gold: gold;
$red: red;
$dark-gray:#707070;
$dark-orange: #A67744;
$gray-blue: #BACAD1;
$alabasterr: #F7F7F7;