@use "./variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
$font-family: Outfit;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: $font-family;
  background-color: $alabasterr;
  }

ul {
  list-style: none; 
}

button:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: $oxford-blue;
}

a {
  text-decoration: none;
  color: $white;
}
