@use "../../../styles/variables" as *;

.btn__primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-width: 173px;
    min-height:35px;
    background-color: transparent;
    border: 1px solid $oxford-blue;
    color: $rangitoto;
}

.btn__primary:hover{
    background-color: $oxford-blue;
    color: $white-transparent;
}

.btn__secondary {
    min-width: 173px;
    min-height:35px;
    background-color: transparent;
    border: 1px solid $white;
    color: $beige;
}

.btn__secondary:hover{
    background-color: $white;
    color: $green_como;
}

.btn__tertiary {
    min-width: 173px;
    min-height:35px;
    background-color: transparent;
    border: 1px solid $brown;
    color: $rangitoto;
}

.btn__tertiary:hover{
    background-color: $brown;
    color: $silver-rust;
}

.btn__filled {
    min-width: 173px;
    min-height:35px;
    background-color: $brown;
    color: $white;
    border: 1px solid $brown;
}

.btn__login {
    min-width: 300px;
    min-height:40px;
    background-color: $oxford-blue;
    color: $white;
    border-radius: 3px;
    border: none;
    font-size: 16px;
}

.btn__disabled {
    min-width: 300px;
    min-height:40px;
    background-color: lightgrey;
    color: rgb(163, 163, 163);
    border-radius: 3px;
    border: none;
    font-size: 16px;
}