@use "../../styles/variables" as *;

.layout__margins {
    padding-left: 84px;
    padding-right: 84px;
}

@media (max-width: 612px){
    .layout__margins {
        padding-left: 30px;
        padding-right: 30px;
    }
}