@use "../../../styles/variables" as *;

.tag__wrapper_new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 28px;
    background-color: $alabasterr;
    color: $oxford-blue;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.tag__wrapper_discount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 28px;
    background-color: $alabasterr;
    color: $dark-orange;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.tag__discount_productpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 28px;
    background-color: $alabasterr;
    color: $dark-orange;
}

.tag__new_productpage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 28px;
    background-color: $alabasterr;
    color: $oxford-blue;
}