@use "../../../styles/variables" as *;

.card__container {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    mix-blend-mode: multiply;
    

    img {
        width: 250px;
        height: 320px;
    }

    h4 {
        margin-top: 10px;
        overflow: hidden;
        max-width: 15ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1rem;
        color: $rangitoto;
    }

    p {
        font-size: 0.8rem;
        overflow:hidden;
        max-width: 25ch;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}

.card__description {
    color: $rangitoto;
}

.card__price {
    margin-top: 15px;
    display: flex;
    gap: 20px;
    color:$rangitoto;
    margin-bottom: 15px;
}

.card__price_nodiscount {
    color:$rangitoto;
    text-decoration: line-through;
}

.card__price_discount {
    color: $dark-orange;
}