@use "../../styles/variables" as *;

.navbar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $oxford-blue;
    width: 100%;
}

.navbar__first_row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar__content_left {
    font-size: 16px;
    max-width: 50%;
    display: flex;
    gap: 15px;
}

.navbar__content_right {
    display: flex;
    align-items: center;
    padding-right: 50px;
    gap: 20px;
}

.navbar__logo {
    font-size: 35px;
    position: absolute;
    left: 45%;
}

.navbar__second_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    font-size: 12px;
}

.burger {
    display: none;
}


.searchbar__wrapper {
    display: flex;
    align-items: center;
    width: auto;
}

.cart {
    position: relative;
}

.cart__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    left: 30px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $oxford-blue;
    color: $white;

    p {
        font-size:10px;
    }
}

@media (max-width: 920px) {
    .burger {
        position: absolute;
        display: block;
        font-size: 20px;
        cursor: pointer;
    }

    .navbar__content_left {
        display: none;
    }

    .navbar__content_right {
        position: absolute;
        right: 10px;
    }

    .navbar__first_row {
        margin-top: 30px;
        display: flex;
        align-items: center;
    }

    .navbar__logo {
        font-size: 25px;
        position: absolute;
        left: 70px;
    }
}

@media (max-width: 600px) {
    .navbar__second_row {
        display: none;
    }

    .navbar__content_right {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        margin-top: 80px;
        gap: 10px;

        input {
            background-color: $white-transparent;
        }
    }
}