.navbar__container {
    height:84px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__content {
    display: flex;
    gap: 50px;
}

.navbar__logo {
    font-size: 32px;
}

.navbar__second_row {
display: flex;
justify-content: center;
gap: 50px;
font-size: 12px;
}