@use "../../styles/variables" as *;

.navbar__container {
    color: $oxford-blue;
    padding-top: 40px;
    background-color: $athens-gray;

    a {
        color: $oxford-blue
    }
}

.navbar__first_row {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.navbar__content_left {
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 45px;
    font-size: 1rem;
}

.navbar__content_right {
    display: flex;
    align-items: center;
    gap: 45px;
    z-index: 1;
    font-size: 1rem;
}

.navbar__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    position: absolute;
}

.navbar__second_row {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    font-size: 0.8rem;
}

.burger {
    display: none;
}


.searchbar__wrapper {
    display: flex;
    align-items: center;
}

.cart {
    position: relative;
}

.cart__amount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12px;
    left: 30px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $oxford-blue;
    color: $white;

    p {
        font-size: 0.7rem;
        background-color: transparent;
    }
}

@media (max-width: 960px) {
    .burger {
        display: block;
        font-size: 1.6rem;
        cursor: pointer;
    }

    .navbar__content_left {
        display: none;
    }

    .navbar__content_right {
        position: absolute;
        right: 10px;
    }

    .navbar__logo {
        width: 150px;
        font-size: 1.8rem;
        top: -8px;
    }
}

@media (max-width: 612px) {
    .navbar__second_row {
        display: none;
    }

    .navbar__content_right {
        margin-top: 60px;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 10px;

        input {
            background-color: $white-transparent;
        }
    }
}