@use "../../styles/variables" as *;

.footer__container {
    background-color: $oxford-blue;
    border: 1px solid $dark-gray;
    color: $white;
    display: flex;
    flex-direction: column;
    
    h1 {
        font-size: 3rem;
        font-weight: 100;
    }
}

.info__container {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;

    p {
        font-size: 0.8rem;
    }
}

.input__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;

    input {
        width: 250px;
        min-height: 35px;
        background-color: transparent;
        border: 1px solid $white;
        color: $white;
    }

    input::placeholder {
        color: $white;
        padding-left: 15px;
    }
}

.lists__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}

.list__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h4 {
        font-size: 1rem;
    }

    li {
        font-size: 0.8rem;
        font-weight: 100;
    }

    li:hover {
        text-decoration: underline;
    }
}

.copyright__container {
    margin-top: 100px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 0.8rem;
    margin-bottom: 100px;
    padding-top: 50px;
    border-top: 1px solid grey;
}

.links__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.links__wrapper {
    display: flex;
    gap: 50px;
    font-size: 0.8rem;
    text-decoration: underline;
}

.logos__wrapper {
    display: flex;
    gap: 50px;
    font-size: 2rem;
}

@media (max-width: 600px) {
    .info__container {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 60px;
        gap: 100px;

        input {
            width: 150px;
        }
    }

    .lists__container {
        display: flex;
        justify-content: center;
        gap: 80px;
    }

    .input__wrapper {
        width: 80vw;
        display: flex;
        justify-content: center;
    }

    .copyright__container {
        margin-top: 30px;
    }

    .links__container {
        text-align: left;
        max-width: 320px;
    }

    .logos__wrapper {
        margin-top: 20px;
        gap: 20px;
    }
}