@use "../../../styles/variables" as *;

.form__container {
    background-color: $light-grayish-cyan;
}

.form__wrapper {
    background-color: $light-grayish-cyan;
    height: calc(80vh - 84px);
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 25px;

h1 {
    color: $oxford-blue;
    margin-bottom: 50px;
}

button {
    margin-top: 20px;
}
span {
    text-decoration: underline;
}
}

.signin__text {
    width:300px;
    color: $oxford-blue;
    font-size: 0.7rem;
}

.input__email {
    position: relative;
}

.input__password {
    position: relative;
}

.input__visibility {
    position: absolute;
    right:10px;
    bottom: 10px;
}


.input__error_message_invisible {
    position: absolute;
    visibility: hidden;
    font-size: 0.6rem;
    color: $red;
    width: 300px;
}

.input__error_message_visible {
    position: absolute;
    visibility: visible;
    font-size: 0.6rem;
    color: $red;
    width: 300px;
}

.field__input_normal {
    min-width: 300px;
    min-height: 40px;
    border-radius: 3px;
    border: 1px solid $gray-blue;
}

.field__input_error {
    border: 2px solid red;
    min-width: 300px;
    min-height: 40px;
    border-radius: 3px;
}