$input_border: #BACAD1;
$font_color: #354E57;

.form__container {
    height: calc(80vh - 84px);
width:300px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: auto;
gap:15px;

h1 {
    color: $font_color;
    margin-bottom: 50px;
}

input {
    min-width: 300px;
    min-height: 40px;
    border-radius: 3px;
    border: 1px solid $input_border;
}

p {
    margin-top: -10px;
    width:300px;
    color: $font_color;
    font-size: 12px;
    
}
button {
    margin-top: 20px;
}
span {
    text-decoration: underline;
}
}

form:invalid {
    button {
        background-color: rgba(211, 211, 211, 0.71);
        color: rgb(168, 168, 168);
        pointer-events: none;
    }
}

.helper {
    cursor: pointer;
    width: 60px;
    align-self: flex-start;
}

.helper__text_inactive {
    display: none;
    background-color: rgba(162, 162, 162, 0.496);
    color: $font_color;
    width: 200px;
    height: auto;
    
}


.helper__text_active {
    align-self: flex-start;
    margin-top:-8px;
    margin-bottom: -10px;
    padding: 0;
    display: block;
    text-align: left;
    color: $font_color;
    height: auto;
}

.input__password {
    position: relative;
}

.input__visibility {
    position: absolute;
    right:10px;
    bottom: 10px;
}