@use "../../../../styles/variables" as *;

.container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.cards__wrapper {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.text__wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;

    h1 {
        font-size: 2rem;
        word-spacing: 6px;
        color: $oxford-blue;
    }

    p{
        font-size: 1rem;
        color: $oxford-blue;
    }
}