@use "../../../styles/variables" as *;

.container {
    margin-top: 100px;
    height: 235px;
    background-color: $athens-gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper {
    text-align: center;
    width: 120px;

    p{
        font-size: 14px;
        color: $oxford-blue;
    }

    span{
        text-decoration: underline;
        font-size: 10px;
        color: $oxford-blue;
    }
}
.icon {
    font-size: 30px;
    color: $silver-rust;
}

@media (max-width: 490px) {
    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }