.article__text {
    max-width: 400px;
    margin-bottom: 30px;
    
    h1 {
        max-width: 380px;
    }

    p {
        margin-top: 30px;
        font-size: 0.8rem;
    }
}

@media(max-width: 501px) {
    .article__text{
        text-align: left;
        width: 300px;
    }
}