@use "../../../../styles/variables" as *;

.herosection__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  height: calc(100vh - 84px);
}

.herosection__text_wrapper{
  width: 40%;
}


.herosection__img_wrapper {
  display: flex;
  justify-content: center;
  width: 40%;
}

.herosection__img {
  width: 60%;
  mix-blend-mode: multiply;
}

@media (max-width: 670px) {
  .herosection__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 100vh;
  }

  .herosection__img_wrapper {
    align-self: center;
  }
}