$bg_color:#547665;

.container {
    display: flex;
    align-items: center;
    margin-top: 150px;
    background-color: $bg_color;
}

.wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.wrapper__img {
    width: 50%;
}

img {
width: 100%;
}