.container {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: left;
}

.wrapper__img {
    width: 50%;
}

img {
width: 100%;
}